.container
  - @email_campaigns.each do |campaign|
    - sample = campaign.recent_sample
    .well
      %h1= "#{campaign.domain.name}: #{campaign.subject}"
      %h2= "Running for #{distance_of_time_in_words(campaign.issued_at, campaign.samples.last.created_at)}"
      %h6= "(#{campaign.emails_count} emails in total. email_campaign.id: #{campaign.remote_id})"
      .row{style: "padding-top:20px"}
        .span2.badge= "Created #{sample.draft}"
        .span2.badge.badge-warning= "Generated #{sample.finished}"
        .span2.badge.badge-success= "Sent #{sample.sent}"

    -#%table
    -#  %thead
    -#    %tr
    -#      %th Draft
    -#      %th Finished
    -#      %th Dispatched
    -#      %th Delivered
    -#      %th Dropped
    -#      %th Deferred
    -#      %th Failed
    -#      %th Bounced
    -#      %th Time
    -#
    -#  - campaign.samples.each do |sample|
    -#    %tbody
    -#      %tr
    -#        %td= sample.draft
    -#        %td= sample.finished
    -#        %td= sample.dispatched
    -#        %td= sample.delivered
    -#        %td= sample.dropped
    -#        %td= sample.deferred
    -#        %td= sample.failed
    -#        %td= sample.bounce
    -#        %td= sample.created_at.strftime("%I:%M%p")
